*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 150vh;
    width: 100%;
    background-color: rgb(233, 228, 228);
}
.header-hero-bg{
    height: 500px;
    width: 100%;
    /* background-color: rgb(147, 147, 204); */
    background-image: url(heroImg.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;

}

.blur-bg{
height: 100%;
width: 100%;
background-color:rgba(0, 0, 0, 0.555);
}
header{
    height: 110px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerWrapper{
    height: 65px;
    width: 85%;
    background-color: white;
    border-radius: 50px;
    display: flex;
   justify-content: space-between;
   align-items: center;
}
/* .header-content{
    height: 100%;
    width: 95%;
    background-color: purple;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.Logo{
    height: 100%;
    width: 240px;
    /* background-color: red; */
    & img{
        height: 85%;
        width: 100%;
        object-fit: contain;
    }
}
nav{
    height: 100%;
    width: 300px;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    align-items: center;
    & li{
        list-style-type: none;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        cursor: pointer;
        color: gray;
    }
}.first-head{
    height: 70vh;
    width: 100%;
    /* background-color: aqua; */

}
.inside-head{
    /* background-color: aquamarine; */
    height: 70px;
    width: 100%;
    font-family: Poppins, "Poppins Fallback", Arial, Helvetica, sans-serif;
   font-style: normal;
   font-Weight:800;
   font-Size:48px;
   Line-Height:60px;
   color: white;
   display: flex;
   justify-content: center;
}.second-head{
    /* background-color: brown; */
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 26px;
    font-family:  "Poppins Fallback", Arial, Helvetica, sans-serif;
    font-weight: 400;
}
.h{
 font-Family:Poppins, "Poppins Fallback", Arial, Helvetica, sans-serif;
 font-Style:normal;
 font-Weight:700px;
 font-Size:16px;
 Line-Height:26px;
 color: white;

}
.third-head{
    /* background-color: coral; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
button{
    border-radius: 15px;
    font-weight: bold;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.book{
    background-color: white;
    height: 50px;
    width: 250px;
}
.explore{
    background-color:transparent ;
    height: 50px;
    width: 180px;
    color: white;
}
.main-page{
    background-color:gainsboro;
    height: 150vh;
}
.first-main{
    padding: 10px;
    background-color: white;
    height: 150px;
    /* display: flex; */
    /* justify-content: center; */
    font-family: Poppins, "Poppins Fallback", Arial, Helvetica, sans-serif;
font-Style:normal;
font-Weight:bold;
font-Size:15px;
Line-Height:15px;
Color:#1A1A2E;
}
.in-first{
    /* background-color: antiquewhite; */
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.in-main{
    /* background-color: antiquewhite; */
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.i{
    
    width: 60%;
     display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    list-style: none;
}
.s-m{
    padding: 60px;
    height: 250px;
}
.second-main{
    height: 50px;
    width: 100%;
    font-family: Poppins, "Poppins Fallback", Arial, Helvetica, sans-serif;
   font-Style:normal;
   font-Weight:bold;
   font-Size:40px;
   Line-Height:50px;
    display :flex;
   justify-content: center;
}
.third-main{
    /* background-color: aquamarine; */
    height: 250px;
    display: flex;
    justify-content: center;
}
.t{
    /* background-color: violet; */
    height: 250px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.f-third{
    height: 250px;
    width: 48%;
    /* background-color: antiquewhite; */
}
.d{
    /* background-color: aquamarine; */
    height: 45px;
    font-size: 18px;
}
h1{
    font-size: 20px;
}
.p{
    font-size: 19px;
    color: #1a1a2e94;
}
.fourth-main{
    height: 100px;
    /* background-color: hotpink; */
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}.fourth-man{
     height: 50px;
    /* background-color: hotpink; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.n{
    height: 200px;
    background-color: white;
}
.fifth-main{
    background-color: white;
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.in-fifth{
   /* background-color: saddlebrown; */
    height: 800px;
    width: 85%;
}

.inner-fifth{
    /* background-color: red; */
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fi{
     height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.five{
    background-color:aliceblue;
    height: 97%;
    width: 49%;
     display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: black;
}
.fif{
    /* background-color: aquamarine; */
    height: 85%;
    width:90% ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.photo{
    background-color: rgba(128, 128, 128, 0.336);
    height: 15%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   & img {
    /* height:80% ; */
    /* width: 80%; */
    object-fit: contain;
   }
}
.ift{
  height: 20%;
  /* background-color: yellow; */
  font-weight: bold;
  display: flex;
  align-items: center;
   
}
.ifth{
    height: 20%;
    /* background-color: yellowgreen; */
     font-size: 17px;
    color: #1a1a2e94;
}
.nith{
  height: 30%;
  /* background-color: whitesmoke; */
    font-size: 17px;
    color: #1a1a2e94;
   list-style: disc;
}
.fith{
   height: 10%;
   /* background-color: wheat; */
   color: blue;
   font-size: 17px;

}
.sixth-main{
    height: 600px;
    width: 100%;
    /* background-color: rgb(147, 147, 204); */
    background-image: url(transformbg.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
     padding: 80;
}

.bur-bg{
height: 100%;
width: 100%;
background-color:rgba(0, 0, 0, 0.555);
 padding: 80;
}
.six{
    background-color: white;
    height: 150px;
    width: 100%;
}
.in-six{
    font-family:Poppins, "Poppins Fallback", Arial, Helvetica, sans-serif;
font-Style:normal;
font-Weight:800;
font-Size:36px;
Line-Height:45px;
color: white;
display: flex;
justify-content: center;
}
.i-s{
    height: 100px;
    /* background-color: blue; */
    padding: 5%;

}
.i-f{
    /* background-color: violet; */
    height: 85px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.svt-main{
    height: 900px;
}
.in-svt{
    /* background-color: blue; */
    height: 150px;
    font-Family:"Poppins Fallback", Arial, Helvetica, sans-serif;
    font-Style:normal;
    font-Weight:800;
    font-Size:28px;
     Line-Height:38px;
     display: flex;
     justify-content:center;
     align-items: center;
}
.inner-svt{
    height: 500px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;

}
.inst{
    height: 330px;
    /* background-color: chartreuse; */
    width: 80%;
    
}
.sint{
    /* background-color: violet; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.seven{
    height: 150px;
    width: 260px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: #1A1A2E;
}
.seventh{
    /* background-color: yellow; */
    height: 50%;
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.in-seven{
    background-color:aliceblue;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
        /* height: 80%; */
        /* width: 80%; */
        object-fit: contain;
    }
}
.even{
     height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* justify-content: flex-end; */

}